*{
	padding :0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content:"";
	display: block;
	clear: both;
}
header {
	background-color: #ff9a4b;
	width: 100%;
	height: 50px;
}
.box-contents {
	margin: 50px auto;
	width: 960px;

}
.box1 {
	width: 300px;
	background-color: #eeeeee;
	float: left;
	margin-right: 30px;
	position: relative;
}
.box2 {
	width: 300px;
	background-color: #eeeeee;
	float: left;
	margin-right: 30px;
	position: relative;
}
.box3 {
	width: 300px;
	background-color: #eeeeee;
	float: left;
	position: relative;
}
.container {
	margin: 10px 10px;
}
.step {
	padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}
.img-photo1 {
	background-image: url("/Users/tatsuhiro/Documents/DMM/chapter9/chapter9_exercise/img/flow01.png");
	background-position: bottom;
	height: 150px;
	background-size: cover;
}
.img-photo2 {
	background-image: url("/Users/tatsuhiro/Documents/DMM/chapter9/chapter9_exercise/img/flow02.png");
	background-position: bottom;
	height: 150px;
	background-size: cover;
}
.img-photo3 {
	background-image: url("/Users/tatsuhiro/Documents/DMM/chapter9/chapter9_exercise/img/flow03.png");
	background-position: bottom;
	height: 150px;
	background-size: cover;
}
h3 {
	margin :15px 0 5px 0;
}
footer {
	background-color: #aaaaaa;
	width: 100%;
	height: 50px;
}